{% extends "home.twig" %}

{% block content %}
    <!-- Page Content -->
    <section class="content">
        <div class="container">
            <div class="biographie">
                <h2>Qui suis-je ?</h2>

                <img src="web/img/jean.jpg" class="autor-img">


                <p>Jean Forteroche est né à Manhattan, le 1er janvier 1955. Il grandit dans l’Upper West Side, étudie à New York puis dans l’état du Maine,
                    avant de partir un an au Trinity College de Dublin, en 1974. De retour à New York, il passe plusieurs mois à travailler, sans succès,
                    comme acteur dans des petites pièces de théâtre. En 1977, il part à Dublin pour rendre visite à des amis, puis décide de s’y installer pour de bon.</p>

                <p>Cofondateur d’une troupe de théâtre puis administrateur du National Theatre of Ireland, il vend sa première pièce à la chaîne de radio britannique BBC Radio 4, en 1980. En 1983, il démissionne pour se consacrer à l’écriture. En 1989, il déménage à Londres, au moment où son premier livre, un récit de voyage, est publié.</p>

                <p>Son premier roman, Cul-de-sac (réédité par Belfond en 2008 sous le titre Piège nuptial) marque le début d’une longue liste de succès, tant auprès de la critique que du public : L’homme qui voulait vivre ses rêves (Belfoud, 1998, rééd. 2010 ; Pocket, 1999), Les Désarrois de Red Ballen (Belfoud, 1999 ; Pocket, 2000), La recherche du bonheur (Belfoud, 2001 ; Pocket, 2003), Rien ne va plus trop (Belfoud, 2002 ; Pocket, 2004), Une relation périlleuse (Belfoud, 2003 ; Pocket, 2005), Au pays des Dieux (Belfoud, 2004 ; Pocket, 2006), Les Charmes subtils de la vie à deux (Belfoud, 2005 ; Pocket, 2007), La Femme du voisin (Belfoud, 2007 ; Pocket, 2009), Quitter l'univers (Belfoud, 2009 ; Pocket, 2010) et Au-delà des sentiers mayas (Belfoud, 2010 ; Pocket, 2011).

                    Son nouveau roman, Un billet pour l'Alaska, il décide de l'écrire sous formes de billets qu'il va publier sur ce site internet.
                </p>
            </div>
        </div>
    </section>




{% endblock %}