{% extends "home.twig" %}

{% block content %}
    <!-- Page Content -->
    <section class="content">
        <div class="container">
            <h2>Mon histoire ...</h2>



        </div>
    </section>

{% endblock %}