{% extends "home.twig" %}

{% block content %}


    <form action="http://localhost/blog/?page=post_article" method=POST>
        Titre:<input name="article[0][titre]"/>
        texte:<input name="article[0][texte]"/>
        <input type="submit" value="Submit">
    </form>

{% endblock %}