{% extends "home.twig" %}

{% block content %}


{{ message }}

<form action="http://localhost/blog/?page=admin_connect" method="POST">

    Username : <input type="text" name="username">

    Password : <input type="text" name="password">

    <input type="submit" value="Submit">

</form>



{% endblock %}