{% extends "home.twig" %}

{% block content %}
<!-- Page Content -->
<section class="content">
    <div class="container">
        <h2>Voici mon histoire ...</h2>

        {% for article in articles %}

            <div class="articles">
                <a href="http://localhost/blog/?page=article&id={{ article.id }}">
                    <div class="title_articles">
                        <div class="texte">
                            <h3>{{ article.titre }}</h3>
                        </div>
                        <div class="delete">
                            {% if session.statut == true %} <a href="http://localhost/blog/?page=delete&id={{ article.id }}"><img class="delete_btn" src="web/img/delete.svg" width="25" height="25"></a>{% endif %}
                        </div>
                    </div>
                </a>
                <div class="texte_articles">
                    <p>{{ article.texte }}<p>
                </div>
            </div>



        {% endfor %}

    </div>
</section>

{% endblock %}