{% extends "home.twig" %}

{% block content %}
    <!-- Page Content -->
    <section class="content">
        <div class="container">

            <div class="article">

            {% for article in article %}

                <div class="titre_article">
                    <h2>{{ article.titre }}</h2>
                </div>
                <div class="texte_article">
                    <p>{{ article.texte }}<p>
                </div>

            {% endfor %}

            </div>


            {% for commentaire in commentaires %}

                {{ commentaire.auteur }}

                {{ commentaire.texte }}

            {% endfor %}




        </div>
    </section>

{% endblock %}