{% extends "home.twig" %}

{% block content %}
<!-- Page Content -->
<section class="content">
    <div class="container">
        <h2>Voici mon histoire ...</h2>

        {% for article in articles %}

            <div class="articles">
                <div class="header_articles">
                    <a href="http://localhost/blog/?page=article&id={{ article.id }}"><h3 class="title_header">{{ article.titre | convert_encoding('UTF-8', 'ISO-8859-1')  }}</h3></a>
                </div>
                <div class="body_articles">
                    <p>{{ article.texte|slice(0, 500)| convert_encoding('UTF-8', 'ISO-8859-1') }} ... <p>
                </div>
                <div class="footer_articles">
                    <p>Publié le {{ article.date|date("d/m/Y") }}</p>
                </div>
            </div>



        {% endfor %}

    </div>
</section>

{% endblock %}