{% extends "home.twig" %}

{% block content %}
    <!-- Page Content -->
    <section class="content">
        <div class="container">
            <h3 id="page_inaccessible">Page inaccessible</h3>
            <h4 id="message_error_page">{{ error }}</h4>
            <img id="img_error" src="web/img/error.svg">
        </div>
    </section>

{% endblock %}