<!DOCTYPE html>
<html lang="fr">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Blog de Jean Forteroche</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Concert+One|Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <link href="web/css/style.css" rel="stylesheet">
    <link href="web/css/comment_style.css" rel="stylesheet">
    <link href="web/css/navbar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/base/jquery-ui.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>

</head>

<body>

<!-- Navigation -->

<nav>
    <ul>
        <li><a href="http://localhost/blog/?page=home"><p><i class="fas fa-home fa-lg"></i>&nbsp; Home</p></a></li>
        <li><a href="http://localhost/blog/?page=myself"><p>Qui suis-je ?</p></a></li>


        <li style="float: right;">
            {% if session.statut == false %} <a class="nav-link" href="http://localhost/blog/?page=admin_connect"><i style="margin-top: -15px;" title="Connexion" class="fas fa-sign-in-alt fa-2x" aria-hidden="true"></i></a>{% endif %}
            {% if session.statut == true %}<a class="nav-link" href="http://localhost/blog/?page=admin_disconnect"><i style="margin-top: -15px;" title="Deconnexion" class="fas fa-sign-out-alt fa-2x" aria-hidden="true"></i></a>{% endif %}
        </li>
        <li style="float: right;"><a href="http://localhost/blog/?page=post_article"><p><i class="fas fa-plus-circle fa-lg"></i>&nbsp;Poster article</p></a></li>
        <li>
            <a href="#">
                <i class="fa fa-bars"></i>
            </a>
        </li>
    </ul>
</nav>



<header>
    <h1>Billet simple<br>pour l'Alaska</h1>
</header>

{% block content %}

{% endblock %}



<!-- Footer -->
<footer>
    <div class="container">
        <p class="copyright">Copyright &copy; Jean Forteroche 2018</p>
    </div>
</footer>


<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script>
    $(function() {
        var ulLi = $('nav ul > li'),
            fa = $('nav ul > li:last-of-type a .fa');

        $('nav ul').append('<ol></ol>');

        $('nav').each(function() {
            for (var i=0; i <= ulLi.length - 3; i++) {
                $('nav ul > ol').append("<li>"+ i +"</li>");
                $('nav ul > ol > li').eq(i).html(ulLi.eq(i+1).html());
            }
        });

        $('nav ul > li:last-of-type').on('click', function() {
            fa.toggleClass('fa-bars');
            fa.toggleClass('fa-times');
            $(this).parent().children('ol').slideToggle(500);
        });
    });

    // Em An
    // 10/10/2016
    // https://codepen.io/anon/pen/qaoxyA
    // https://codepen.io/Em-An/pen/LRdjwp
</script>
{% block script %}

{% endblock %}

</body>

</html>


