<!DOCTYPE html>
<html lang="fr">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Half Slider - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="web/css/style.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="http://localhost/blog/?page=home">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                    <p style="font-size: 25px;color: white;">|</p>

                <li class="nav-item">
                    <a class="nav-link" href="http://localhost/blog/?page=myself">Qui suis-je ?</a>
                </li>
                <li class="nav-item" style="margin-left:10%;">

                    {% if session.statut == false %} <a class="nav-link" href="http://localhost/blog/?page=admin_connect"><img src="web/img/lock.svg" width="25em" height="auto"></a>{% endif %}
                    {% if session.statut == true %}<a class="nav-link" href="http://localhost/blog/?page=admin_disconnect"><img src="web/img/exit.svg" width="25em" height="auto"></a>{% endif %}
                </li>

            </ul>
        </div>
    </div>
</nav>

<header>
    <h1>Billet simple<br>pour l'Alaska</h1>
</header>

{% block content %}

{% endblock %}



<!-- Footer -->
<footer>
    <div class="container">
        <p class="copyright">Copyright &copy; Jean Forteroche 2018</p>
    </div>
</footer>


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


{% block script %}

{% endblock %}

</body>

</html>


