{% extends "home.twig" %}

{% block content %}

 <form action="http://localhost/blog/?page=test" method=POST>
  Titre:<input name="article[0][titre]" value="john" />
  texte:<input name="article[0][texte]" value="smith" />
  <input type="submit" value="Submit">
 </form>


{% endblock %}